html {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

.List {
  border: 1px solid #d9dddd;
}

.TraceColumn {
    align-tems: "center";
    justify-content: "center";
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Andale Mono", AndaleMono, monospace;
}

.ListItem,
.ListSelectedItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListSelectedItem {
    background-color: #f0f8f8;
}

.RegisterRow,
.RegisterSelectedRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 14px;
}

.RegisterSelectedRow {
    background-color: #f0f8f8;
}
